
<div class="container"  style="padding-bottom: 30px">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-8" *ngIf="action === 'create' || action === 'edit' ">
        <app-product-detail [item]="selectedItem"  (savedItemEvent)="saveItem($event)"></app-product-detail>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" style="padding-bottom: 30px">
    <div class="col-8"></div>
    <div class="col-4">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-primary btn-block" (click)="setAction('create')">Create</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
          <button type="button" class="btn btn-secondary btn-block" (click)="setAction('edit')">Edit </button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Third group">
          <button type="button" class="btn btn-danger btn-block">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
        <app-table [itemList]="itemList" (selectedItemEvent)="updateSeletedItem($event)" ></app-table>
    </div>
  </div>
</div>

