<div class="container card" >
  <div class="row ">
    <div class="col" style="padding: 30px;">
        <div class="form-row">
          <div class="col-md-2 mb-3">
            <label for="validationDefault01">Id</label>
            <input type="text" class="form-control" id="validationDefault01" placeholder="" value={{item.id}} readonly>
           </div>
        </div>
        <div class="form-row">
          <ng-container  *ngFor="let attribute of itemAttributes; index as i">
            <div class="col-md-6 mb-3" *ngIf="attribute !== 'id'">
              <label for="validationDefault01">{{ attribute }}</label>
              <input type="text" class="form-control" id="validationDefault01" placeholder="" [(ngModel)]="item[attribute]">
            </div>
          </ng-container>
        </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6">
      <button class="btn btn-danger btn-block" (click)="onCancel()" >Cancel</button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary btn-block" (click)="onSaveItem()">Save</button>
    </div>
  </div>
</div>
