<div class="row" style="padding-bottom: 30px">
  <div class="col-6"></div>
  <div class="col-2">
      <div class="btn-group btn-block">
        <button type="button" class="btn btn-primary btn-block"
          ngbTooltip="Create a new element"
          [openDelay]="100" [closeDelay]="500"
          (click)="setAction('create')"
          [disabled]="false">
          Create
        </button>
      </div>
  </div>
  <div class="col-2">
      <div class="btn-block"
          ngbTooltip="Select an Item from the list">
        <button type="button" class="btn btn-secondary btn-block"
          [disabled]="!item.id"
          (click)="setAction('edit')">
          Edit
        </button>
      </div>
  </div>
  <div class="col-2">
      <div class="btn-block"
          ngbTooltip="Select an Item from the list">
        <button type="button" class="btn btn-danger btn-block"   [disabled]="!item.id"
        [swal]="{
          title: 'Are you sure?',
          text: 'Once deleted, you will not be able to recover this item!',
          type: 'warning',
          showConfirmButton: true,
          showCancelButton: true
        }"
        (confirm)="confirmDelete('delete')"
        (cancel)="cancelDelete($event)"
        >Delete</button>
      </div>
  </div>
</div>
