<div class="row shadow" style="margin-bottom: 50px">
  <div class="col-md-3">
    <div class=" text-center  " style="width: 18rem;height: 60px; padding-top: 5%">
      <div ngbDropdown class="d-inline-block align-middle">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle >Select Type of Item</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)='openItem("products")' [swal]="['Well!!', 'Product Selected', 'info']">Products</button>
          <button ngbDropdownItem (click)='openItem("providers")' [swal]="['Well!!', 'Providers Selected', 'info']">Providers</button>
          <button ngbDropdownItem (click)='openItem("stores")' [swal]="['Well!!', 'Stores Selected', 'info']">Stores</button>
          <button ngbDropdownItem (click)='openItem("inventories")' [swal]="['Well!!', 'Inventories Selected', 'info']">Inventories</button>
        </div>
      </div>
  </div>
  </div>
  <div class="col-md-9 ">
    <div  class="align-middle text-center" style="height: 60px; padding-top: 1%" >
      <div>
          <h3 class="" style="text-shadow: -3px 3px 6px #494646;">{{item | uppercase}}</h3>
      </div>
    </div>
  </div>
</div>
