<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle >Select Type of Item</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)='openItem("products")'>Products</button>
          <button ngbDropdownItem (click)='openItem("providers")'>Providers</button>
          <button ngbDropdownItem (click)='openItem("stores")'>Stores</button>
          <button ngbDropdownItem (click)='openItem("inventories")'>Inventories</button>
        </div>
      </div>
    </div>
  </div>
</div>
